body {
    background-color:#b5e3f7;
}

h3 {
    font-family: 'Roboto', sans serif;
    text-align: center;
    color: #6385BE;
}

#info {
    height: 400px;
    width: 600px;
    border: 2px solid;
    border-style: ridge;
    border-color: #fabcb8;
    border-radius: 16px;
    background-color: white;
    box-shadow: 5px 5px #767491;
    margin: 20px;
    
}

#date{
    font-size: 24px;
    font-family: "Cuprum", sans serif;
}

.resourcebutton{
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
}